# Backend Gateway Port
PORT=5001

# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/subscription_db?schema=public"

# Auth Secret signature
JWT_SECRET="super-secret-key-signature-token-12345"
