# Server Configuration
PORT=5001
NODE_ENV=development

# Database Connection (Prisma)
# Example: postgresql://username:password@host:port/dbname?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/subscription_db?schema=public"

# JSON Web Token Secret Keys
JWT_SECRET="super-secret-key-signature-token-12345"
